@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --fap : #4b494a;
  --faps : #414141;
  --fapss : #3a3a3a;
  --light-black: #2e2e2ed0;
  --med-black : #181717de ;
  --bggradient: linear-gradient(to bottom, #333031, #7e7776);
  --light-gray: rgba(255, 255, 255, 0.877);
  --white-smoke: whitesmoke;
  --gold : #8a8a19;
}


header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(209, 192, 38);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: goldenrod;
}

header .row .col-md-12 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: #2e2c2caf;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)) , url(../image/nav.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}


/*breadcrumb*/
.container-bread{
  background: rgba(128, 128, 128, 0.1);
  padding: 15px;
  font-family: var(--Sniglet-font);
}

.nav-header{
    display: flex;
    float: right;
    padding: 20px;
}

.nav-header i{
    color: goldenrod;
}

.sections-quiz{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)) , url(../image/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-size: cover;
}

#a,#b,#c,#d,#e,#f,#g,#h,#i,#j{
    font-family: var(--Sniglet-font);
    font-weight: 400;
    display: flex;
    border:none;
    color: var(--white-smoke);
}

.sections-quiz .card{
    font-family: var(--Sniglet-font);
    font-weight: 400;
    display: flex;
    background: linear-gradient(rgba(218, 165, 32, 0.438),rgba(68, 67, 67, 0.2));
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px rgba(218, 165, 32, 0.2);
}

/*footer*/
.footer{
    background: #333031;
    height: auto;
    width: 100%;
    font-family: var(--Sniglet-font);
    padding-top: 40px;
    color: var(--white-smoke);
    overflow-x: hidden;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform : capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0 2rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: var(--white-smoke);
  }
  
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: #ac6e1d;
  }
  
  .ingfo{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0 2rem 0;
  }
  
  .ingfo li{
    margin: 0 10px;
  }
  
  .ingfo a{
    text-decoration: none;
    color: var(--white-smoke);
    font-size: 14px;
    transition: color .4s ease;
  }
  
  
  .ingfo a:hover{
    color: #8a8a19;
  }
  
  .footer-bottom{
    background: var(--med-black);
    width: 100vw;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }


/*Pop UP QUIZ*/
.container{
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-color: rgb(204, 155, 32);
  border-radius: 10px;
  font-family: var(--Sniglet-font);
  color: var(--white-smoke);

}

.container, ul{
  list-style: none;
  font-style: var(--Rubik);
}

.container ul li{
  margin-bottom: 1em;
  padding: 2px;
  border-radius: 4px;
  border: 2px solid black;
}

.container ul li label{
  padding: 2px;
}


.container input {
  display: none;
  font-weight: 400;
  font-size: 20px;

}

.container .btn {
  width: 40%;
}
